.header__company {
  background-image: url(../img/back-img-header-company.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.start__screen-company {
  margin-top: 173px;
  padding-bottom: 174px;
}
@media (max-width: 1250px) {
  .start__screen-company {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}
.advantage {
  padding-top: 72px;
  padding-bottom: 72px;
}
.advantage__title {
  margin-bottom: 75px;
}

.advantage__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}
.advantage__wrapper:last-child {
  margin-bottom: 0;
}
.advantage__title-text {
  font-family: "Graphik", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  margin-bottom: 25px;
}

.advantage__text {
  max-width: 510px;
  margin-bottom: 48px;
}

.advantage__text-company {
  max-width: 550px;
}
.advantage__link {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #202a89;
}
@media (max-width: 992px) {
  .advantage {
    padding-top: 28px;
    padding-bottom: 0;
  }
  .advantage__title {
    margin-bottom: 48px;
  }
  .advantage__wrapper {
    flex-direction: column-reverse;
  }
  .advantage__wrapper--mod {
    flex-direction: column;
  }
  .advantage__section-text {
    align-self: flex-start;
  }
  .advantage__text-company {
    max-width: 685px;
  }
  .advantage__img {
    margin-bottom: 24px;
  }
}

@media (max-width: 992px) {
}
/* history */

.history {
  padding-top: 72px;
  background-color: #fcf7f2;
  overflow: hidden;
}

.history__title {
  padding-bottom: 72px;
}
@media (max-width: 992px) {
  .history {
    padding-top: 48px;
  }
}
.container__history-slider {
  width: 100%;
  width: 1440px;
  padding-left: 84px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.history-swiper {
  padding-bottom: 100px;
}

.swiper-horizontal > .swiper-scrollbar {
  bottom: 10px;
}
.swiper-scrollbar {
  background-color: #958885;
}
.swiper-slide {
  width: 402px !important;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  padding: 8px 49px;
  top: -6px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
  border-radius: 13px;
}

.scrollbar__img {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.history__slide-text {
  max-width: 360px;
}

.history__img {
  margin-bottom: 24px;
}

.history__slide-date {
  font-family: "Graphik", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .container__history-slider {
    padding-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .container__history-slider {
    padding-left: 24px;
  }
}
/* magazine */
.magazine__title {
  margin-top: 72px;
  margin-bottom: 72px;
}

.magazine__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.magazine__left-about {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 21px;
}

.magazine__wrap-text {
  display: flex;
}

.magazine__link {
  color: #636aac;
  opacity: 0.6;
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 52px;
}

.magazine__text {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #bababa;
  position: relative;
}

.magazine__text-title--mod {
  width: 620px;
}
.magazine__text-title--mod2 {
  width: 420px;
}

.magazine__text::before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bababa;
  position: absolute;
  top: 40%;
  left: -24%;
}

.magazine__text-title {
  font-family: "Graphik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1250px) {
  .magazine__text-title {
    max-width: 340px;
  }
  .magazine__img {
    object-fit: cover;
    max-width: 343px;
    height: 390px;
  }
  .magazine__text-title--mod {
    max-width: 343px;
  }
  .magazine__text-title--mod2 {
    max-width: 343px;
  }
}
@media (max-width: 992px) {
  .magazine__title {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .magazine__wrapper {
    margin-bottom: 48px;
  }
  .magazine__wrapper:last-child {
    margin-bottom: 48px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .magazine__wrapper {
    flex-direction: column;
  }
  .magazine__wrapper:last-child {
    margin-bottom: 48px;
  }
}
/* career */
.career {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #fcf7f2;
}
.career__title {
  margin-bottom: 108px;
}
.career__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .career__wrap-card {
    margin-right: 34px;
  }
}
@media (max-width: 992px) {
  .career {
    padding-bottom: 24px;
  }
  .career__wrapper {
    flex-wrap: wrap;
  }
  .career__wrap-card {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
.career__img {
  margin-bottom: 24px;
}
.career__card-title {
  font-family: "Graphik", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}
.career__card-text {
  max-width: 390px;
}
@media (max-width: 768px) {
  .career {
    padding-bottom: 0;
  }
  .career__img {
    object-fit: cover;
    max-width: 343px;
  }
  .career__card-text {
    max-width: 343px;
  }
}
/* Contact */
.contact {
  padding-top: 72px;
}
.contact__title {
  margin-bottom: 72px;
}
.contact__map {
  position: relative;
  margin-bottom: 48px;
}
.contact__map-address {
  background-color: #fff;

  padding: 48px;

  position: absolute;
  top: 19%;
  right: 2.6%;
}
.contact__map-address-wrap {
  margin-bottom: 24px;
}
.contact__address-title {
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;

  margin-bottom: 16px;
}
.contact__address-text {
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;

  color: #000;
  opacity: 0.6;

  max-width: 300px;
}
.contact__address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.contact__address-about {
  width: 402px;
}
.contact__address-about-wrap {
  margin-bottom: 56px;
}
.contact__address-about-wrap:last-child {
  margin-bottom: 0px;
}
.contact__address-map {
  display: none;
}
@media (max-width: 1200px) {
  .contact__address {
    flex-wrap: wrap;
  }
  .contact__map-address {
    display: none;
  }
  .contact__address-map {
    display: block;
  }
}
@media (max-width: 992px) {
  .contact__address-about {
    width: 265px;
  }
}
@media (max-width: 768px) {
  .contact {
    padding-top: 48px;
  }
  .contact__container-map {
    padding: 0;
  }
  .contact__map {
    margin-bottom: 24px;
  }
  .contact__title {
    margin-bottom: 48px;
  }
  .contact__map-address {
    display: none;
  }
  .contact__address-about-wrap {
    margin-bottom: 24px;
  }
  .contact__address {
    margin-bottom: 48px;
  }
}
/* requisites */
.requisites {
  background-color: #fcf7f2;
  padding-top: 72px;
  padding-bottom: 40px;
}
.requisites__title {
  margin-bottom: 72px;
}
.requisites__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.requisites__info {
  margin-right: 33px;
  margin-bottom: 48px;
}
.requisites__img {
  background-color: #fff;
  padding: 80px 81px;
  margin-bottom: 24px;
  width: 390px;
}
.requisites__info-title {
  font-family: "Graphik", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 992px) {
  .requisites__img {
    width: 379px;
  }
  .requisites__info-title--mod {
    max-width: 260px;
  }
}
@media (max-width: 768px) {
  .requisites {
    padding-bottom: 0;
  }
  .requisites__img {
    width: 343px;
  }

  .requisites__info:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 420px) {
  .requisites__info {
    margin-right: 0;
  }
}
