@font-face {
  font-family: "Graphik", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Graphik-Black.woff2);
  src: local(""), url(../fonts/Graphik-Black.eot),
    url(../fonts/Graphik-Black.ttf), url(../fonts/Graphik-Black.woff);
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Graphik-Bold.woff2);
  src: local(""), url(../fonts/Graphik-Bold.eot), url(../fonts/Graphik-Bold.ttf),
    url(../fonts/Graphik-Bold.woff);
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Graphik-Semibold.woff2);
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Graphik-Medium.woff2);
  src: local(""), url(../fonts/Graphik-Medium.eot),
    url(../fonts/Graphik-Medium.ttf), url(../fonts/Graphik-Medium.woff);
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Regular.woff2);
  src: local(""), url(../fonts/Graphik-Regular.eot),
    url(../fonts/Graphik-Regular.ttf), url(../fonts/Graphik-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}


.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .2s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}

/* container */

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 84px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

/* title */

.title {
  font-family: "Graphik", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0px;
  text-align: left;
}

/* text */

.text {
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-right: 60px;
}

.navigation__link {
  color: #ffffff;
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  border-bottom: 4px solid transparent;
  padding-bottom: 25px;
  transition: all 0.4s ease;
  transition-delay: 0.2s;
}

.navigation__item:last-child {
  padding: 0;
}






